
<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
  <head th:replace ="common/header :: common-header" />

 <body>
 	<div th:replace="common/header :: navbar"/>
   
	<div class ="container box">
		<div class="row">
			<img class="d-inline w-100 img-responsive" src="http://www.somethingatemyalien.com/uploads/Game-SAMA-Something-Ate-My-Alien-Rokabium-Backstory-700x150.png" alt="Cyberpunk">
		</div>
		<div class="row" style="margin-top : 60px ;">
			<div class="col-md-9 offset-md-3">
			<!--  nav tabs -->
				<ul class="nav nav-tabs">
					<li class="nav-item "><a class="nav-link " data-toggle="tab" href="#tab-1" th:classappend="${classActiveNewAccount}? 'active '">Create New Account</a></li>
					<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#tab-2" th:classappend="${classActiveLogin}? 'active' ">Log In</a></li>
					<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#tab-3" th:classappend="${classActiveForgetPassword}? 'active'">Forget Password</a></li>
				</ul>
			<!-- Tab Panels -->
				<div class="tab-content">
					<div class="tab-pane fade" id ="tab-1" th:classappend="${classActiveNewAccount}? 'in active show'">			
						<div class="panel-group">
							<div class="panel panel-default " style="border:none;">
								<div class="panel-body rounded" style="background-color:#152238;margin-top:20px;padding-bottom:5px;">
									<form style="margin-left:20px;">
										<div class="form-group">
											<label style="color:#fff;">Username</label>
											<div class="row">
											<div class="col-md-6 ">
											<input required="required" type="text" class="form-control" id="newUsername" name="username"/>
											</div>
											</div>
											<p style="color:#fff;">Enter your username</p>
										</div>
										
										<div class="form-group">
											<label style="color:#fff;">Email</label>
											<div class="row">
											<div class="col-md-6">
											<input required="required" type="text" class="form-control" id="email" name="email"/>
											</div>
											</div>
											<p style="color:#fff;">Enter New Email</p>
										</div>
										
										<button type="submit" class="btn btn-primary">Create account</button>
									</form>
								</div>
							</div>
						</div>					
					</div>
					<!-- tab log in -->
					<div class="tab-pane fade " id ="tab-2" th:classappend="${classActiveLogin}? 'in active show'">
						<div class="panel-group">
							<div class="panel panel-default" style="border:none;">
								<div class="panel-body rounded" style="background-color:#152238;margin-top:20px;padding-bottom:5px;">
									<form style="margin-left:20px;">
										<div class="form-group">
											<label style="color:#fff;">Username</label>
											<div class="row">
											<div class="col-md-6 ">
											<input required="required" type="text" class="form-control" id="newUsername" name="username"/>
											</div>
											</div>
											<p style="color:#fff;">Enter your username</p>
										</div>
										
										<div class="form-group">
											<label style="color:#fff;">Password</label>
											<div class="row">
											<div class="col-md-6">
											<input required="required" type="password" class="form-control" id="password" name="password"/>
											</div>
											</div>
											<p style="color:#fff;">Enter your Password</p>
										</div>
										
										<button type="submit" class="btn btn-primary">Log In</button>
									</form>
								</div>
							</div>
						</div>
					</div>
					<!--  tab forget password -->
					<div class="tab-pane fade" id ="tab-3" th:classappend="${classActiveForgetPassword}? 'in active show'">
						<div class="panel-group">
							<div class="panel panel-default" style="border:none;">
								<div class="panel-body rounded" style="background-color:#152238;margin-top:20px;padding-bottom:5px;">
									<form style="margin-left:20px;">
									
										<div class="form-group">
											<label style="color:#fff;">Email</label>
											<div class="row">
											<div class="col-md-6">
											<input required="required" type="text" class="form-control" id="recoverEmail" name="email"/>
											</div>
											</div>
											<p style="color:#fff;">Enter your registered Email</p>
										</div>
										
										<button type="submit" class="btn btn-primary">Submit</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		
		</div>

	</div>

<!--  
Footer part
-->
<div th:replace="common/footer :: footer-panel" />

<div th:replace="common/footer :: body-bottom-scripts"/>

</body>
</html>
